:root {
  --bg-color: #0d0d0d;
  --font-color: #F5F5F5;
  --font-accent-color: #404040;
  --red: #F7768E;
  --green: #9ECE6A;
  --yellow: #E0AF68;
  --blue: #7AA2F7;
  --magenta: #FC5FA2;
  --cyan: #4ABAAF;
  --white: #ACB0D0;

}
body {
  background-color: var(--bg-color);
  transition: var(--transition);
  font-size: 25px;
  font-family: Hack;
}
.console {
  margin: 1em;
}
.prompt {
  display: inline-block;
  color: var(--font-accent-color);
  width: auto;
}
#prompt-line {
}
#prompt-line > input {
  display: inline-block;
  outline: none;
  border: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
  caret-color: var(--font-color);
  font-size: 1em;
  font-family: Hack;
  width: 80%;
}
#prompt-input {
}
::placeholder {
  color: var(--font-accent-color);
}
.console > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}
li {
  margin: .2em;
  width: 100%;
  color: var(--font-color);
  white-space: pre-wrap;
}
.error {
  color: var(--red);
}
.help {
}
.help > h1 {
  font-size: 1em;
  color: var(--cyan);
}
.help > h2 {
  font-size: 1em;
  color: var(--blue);
}
.help > p {
  font-size: 1em;
  color: var(--font-color);
}
.container {
}
.clear {
  height: 100vh;
}
