:root {
  --font-color: #F5F5F5;
  --font-accent-color: #404040;
  --bg-color: #0d0d0d;
  --bg-accent-color: #262626;
  --bg-accent-color-rgb: 38, 38, 38;
}
body {
  background-color: var(--bg-color);
  transition: var(--transition);
  font-size: 25px;
  font-family: Hack;
}
h1, h2, h3, p, a {
  color: var(--font-accent-color);
  transition: var(--transition);
  white-space: pre-wrap;
}
p {
  font-size: 1em;
  color: var(--font-color);
}
.console {
  margin: 1em;
}
.prompt {
  color: var(--font-accent-color);
}
.prompt-line > input {
  outline: none;
  border: 0;
  background-color: var(--bg-color);
  caret-color: var(--font-color):
}
.console > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}
li {
  margin: .2em;
  color: var(--font-color);
}
