@font-face {
  font-family: "Harding";  
  src: url("/fonts/HardingText-Regular-Web.woff2")format("woff2"); 
}
@font-face {
  font-family: "Harding";  
  src: url("/fonts/HardingText-BoldItalic-Web.woff2")format("woff2"); 
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Harding";  
  src: url("/fonts/HardingText-RegularItalic-Web.woff2")format("woff2"); 
  font-style: italic;
}
@font-face {
  font-family: "Harding";  
  src: url("/fonts/HardingText-Bold-Web.woff2")format("woff2"); 
  font-weight: bold;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Italic-VariableFont_wght.ttf")format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf")format("truetype");
}

html, body {
	position: relative;
	font-size: 16px;
	font-family: Harding;
	width: 100%;
	height: 100%;
	background-color: var(--bg);
	color: var(--fg);
}

:root {
  --bg: #ffffff;
  --bg1: #f2f2f2;
  --bg2: #c2c2c2;
  --bg3: #808080;
  --fg: #303030;
  --fg1: #505050;
}

.container {
  text-align: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox */
  box-sizing: border-box;
  padding-top: 2rem;
}

#navbar {
  position: absolute;
  top: 0;
  height: 2rem;
  background-color: var(--bg);
  width: 100vw;
  overflow-x: auto;
  border-bottom: 1px solid var(--bg1);
  font-family: Roboto Mono;
  color: var(--fg1);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: Harding;
	font-size: 1.125rem;
  line-height: 1.7;
}

p {
  margin: 0 0 1.75rem;
}


li {
  line-height: 1.4;
}
li:not(:last-child) {
  padding-bottom: 0.5rem;
}

li:first-child {
  padding-bottom: 0.5rem;
}

pre {
  font-family: Roboto Mono;
  background-color: var(--bg1);
  padding: 1rem;
  margin: auto;
  overflow-x: auto;
  margin: 1rem 0;
}

code {
  font-family: Roboto Mono;
  background-color: var(--bg1);
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
}

a.nav {
	color: var(--fg1);
	text-decoration: none;
	padding: 0.3em 0.5em;
	font-size: 1rem;
	height: 100%;
	border-right: 1px solid var(--bg1);
	text-align: center;
	box-sizing: border-box;
	white-space: nowrap;
}

a:visited {
	color: var(--fg1);
}

/* scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg2) var(--bg1);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

*::-webkit-scrollbar-track {
  background: var(--bg1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg2);
  border-radius: 12px;
}

@media all and (min-width: 750px) {
  .container {
    width: 45rem;
    margin: 0 auto;
  }
  a.nav:hover {
    background-color: var(--bg1);
    cursor: pointer;
  }
}

@media all and (max-width: 749px) {
  .container {
    padding: 2rem;
    min-width: 15rem;
    width: 100%;
  }
  #navbar {
    height: 3rem;
  }
  a.nav {
    font-size: 1.5rem;
  }
}
